.barranav{
  background-color: rgb(93, 180, 214);
  padding: 5px;
  width: 100%;

}

.targeta {
  background-color: rgba(67, 91, 102, 0.555);
  width: 900px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  text-align: center;

}
.contenido{

  border: 1px solid rgb(0, 0, 0);
  padding: 10px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;

}

.ModuloInventario{

  border: 1px solid rgb(0, 0, 0);
  padding: 10px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;

}

.Titulo{
  margin-left: 280px;
}
.TituloProducto{
  margin-left: 250px;
}

nav{

  margin: 0 12px 0 0;

}
nav a {
  text-decoration: none;
  color: black;
}
.textNav{
  text-align: right  ;

}

.ulMenu{
  text-align: center;
  display: grid;
  grid-template-columns: 1fr  1fr;

}

.textMenu{
  display: block;
  border: 1px solid #999999;
  width: 300px;
  margin: 25px auto;
  padding: 8px;
  text-align: center;
  background: #DDDDDD;
  transition: 0.4s;
  box-shadow: rgb(150,150,150) 2px 2px 5px;

}

.textMenu:hover{
  background-color: rgb(93, 180, 214);
  transition: 0.4s;
}

ul{
  list-style: none;
}
form div{
  text-align: left;
  margin: 20px;
}
input {
  margin-top: 10px;
  display: block;
  width: 100%;
  font-size: 150%;
}

label{
  color: white;
  font-weight: bold;
}

.inputError{
  border-color: red;

}
button{
  margin-top: 20px;
  height: 30px;
  width: 150px;
  background-color: white;
  color: black;
  border: 1px solid yellowgreen;
  margin-left: 35px;
  margin-right: 35px;
  border-radius: 5px;
}
button:hover{
  background-color: yellowgreen;
  color: white;
  border: 1px solid black ;
}
.botonlogin{
  text-align: center;
}


.registroProveedor {
  display: grid;
  grid-template-columns: 1fr  1fr;
}

.RegistroProducto {
  display: grid;
  grid-template-columns: 1fr  1fr;
}

.botonCancelar:hover {
background-color: rgb(207, 48, 48);
border: 1px solid black ;

}

.inputError{
  border-color: rgba(255, 0, 0, 0.842);
  
}

.tabla{ 
  width: 100%;
  border: 1px solid black;
  
}

td{ 
  text-align: center;
  
  
}

tr{
  border: 1px solid red;
  margin-top: 100px;

}